@charset "utf-8";
/* CSS Document */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}

#main_container{
	min-width:1200px;
	margin:0 auto;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clearfix:after{
	clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.public{
	margin-top:25px;
}
.public_tit{
	position: relative;
    height: 30px;
    padding-bottom: 8px;
    border-bottom: 2px solid #ddd;
    z-index: 2;
}
.pro_tit{
	padding: 0 10px;
    margin: 7px 0;
    height: 36px;
	font-size:14px;
	line-height:18px;
	overflow:hidden;
	color:#333;
}
.pro_tag{
	color:#390;
	font-style: normal;
    font-weight: 400;
	font-size:14px;
}
.pro_tag_line{
	position: relative;
    top: -1px;
    padding: 0;
    color: #bbb;
}
.pro_price{
	position:relative;
	color:#999;
	line-height:20px;
	width:200px;
	margin-top: 2px;
    padding: 9px 10px 0;
    border-top: 1px dotted #ccc;
}
.pro_pri{
	padding-right: 3px;
    color: #f60;
    font-size: 20px;
    font-weight: bold;
}
.specialBuy .pro_pri i{
	font-size: 18px;
	font-style: normal;
}

/**主体内容标题的公共模块**/
.public_sub{
    position: absolute;
    left: 242px;
    bottom: 0;
    height: 30px;
    line-height: 24px;
    color: #666;
}
.public_sub li{
    position: relative;
    display: inline-block;
    float: left;
    height: 30px;
    margin-right: 16px;
    padding: 0 3px;
    font-size: 14px;
    cursor: pointer;
    background: #fff;
}
.public_sub li .syicon_arrow{
	background:url(../images/main_images/icon.png) no-repeat -5px -5px; 
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
	display:none;
    width: 20px;
    height: 11px;
}
.public_sub li.active{
	color:#ED3387;
	border-bottom:2px solid #ED3387;
}
.public_sub li.active .syicon_arrow{
	display:inline-block;
}
.syicon_more{
	display:inline-block;
	background:url(../images/main_images/icon.png) no-repeat -27px -3px;
	width: 7px;
    height: 14px;
    margin-left: 2px;
    vertical-align: top;
	margin-right:10px;
}
.public_tit_more a{
	color:#666;
}
.public_tit_more a:hover{
	color:#FF6600;
}
.public_tit_more a:hover .syicon_more{
	background-position:-47px -3px;
}

/**底部部分开始**/

/**底部价格保证部分开始**/
.public_ft_box{
	background: #d37;
    width: 100%;
    margin-top: 30px;
}
.public_ft{
	margin: 0 auto;
	display: block;
    color: #999;
}
.public_ft_list{
	border: none;
    background: #d37;
	height: 50px;
    padding: 9px 0;
	font-size: 12px;
    position: relative;
    overflow: hidden;
    zoom: 1;
	list-style-type:none;
}
.public_ft_list li{
	width: 25%;
    float: left;
    margin-left: -2px;
    height: 40px;
    padding: 5px 0;
    position: relative;
	font-size: 12px;
    line-height: 16px;
	overflow: hidden;
    white-space: nowrap;
	color:#FFF;
	border-left: #E25A91 solid 1px;
}
.public_ft_list li i{
	margin: 0 10px 0 30px;
	background:url(../images/main_images/header_icon.png) no-repeat;
	float: left;
    width: 40px;
    height: 40px;
}
.public_ft_list strong{
	display: block;
    line-height: 20px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: normal;
}
.public_ft_list .ft_icon1{
	background-position:-480px 0;
}
.public_ft_list .ft_icon2{
	background-position:-520px 0;
}
.public_ft_list .ft_icon3{
	background-position:-560px 0;
}
.public_ft_list .ft_icon4{
	background-position:-600px 0;
}
/**底部价格保证部分结束**/
/**底部服务部分开始**/
.foot_fuwu_box{
	width: 100%;
    padding-bottom: 20px;
    background: #2F3F4F;
    color: #fff;
}
.foot_fuwu{
	width: 1190px;
	padding: 15px 0 0;
    margin: 0 auto;
    overflow: hidden;
    zoom: 1;
    position: relative;
}
.foot_fuwu dl{
	float: left;
    width: 136px;
    padding: 0 0 0 20px;
    margin-bottom: -1000px;
    border-right: #000 dashed 1px;
    padding-bottom: 1000px;
    position: relative;
}
.foot_fuwu dl dt{
	margin-bottom: 15px;
    font-size: 16px;
    line-height: 20px;
}
.foot_fuwu dl dd{
	line-height: 24px;
    font-size: 12px;
}
.foot_fuwu dl dd a{
	color:#fff;
	text-decoration:none;
}
.foot_fuwu dl dd a:hover{
	color:#FF6600;
}
.foot_fuwu .icon_wb{
	background-position:-119px -146px;
	width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 4px;
	margin-top:5px;
}
.foot_call{
	color: #ED3377;
    font-family: Arial;
    font-size: 20px;
}
.lvma_union_icon{
	background:url(../images/main_images/header_icon.png) no-repeat -250px -260px;
	display: inline-block;
    height: 16px;
    margin: 4px 0 0 3px;
    overflow: hidden;
    text-indent: -9999em;
    vertical-align: top;
    width: 63px;
}
.foot_dy{
	width: 242px;
    float: right;
    position: relative;
}
.foot_dy h4{
	line-height: 22px;
    padding-bottom: 8px;
    font-size: 16px;
    font-weight: normal;
}
.foot_email{
	overflow: hidden;
    zoom: 1;
    position: relative;
    z-index: 1;
}
.foot_email input{
	float: left;
    width: 164px;
    height: 20px;
    line-height: 20px;
    padding: 4px 0 4px 26px;
    border: #ddd solid 1px;
	border-right: none;
    cursor: auto;
    position: relative;
    z-index: 1;
	color:#666;
}
.foot_email a{
	float: left;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #e38;
    font-weight: bold;
    font-size: 12px;
}
.foot_email i{
	background-position:0 -53px;
	width: 17px;
    height: 17px;
    position: absolute;
    left: 5px;
    z-index: 3;
}
.foot_ewm{
	margin-top:15px;
}
.foot_ewm i{
	width: 80px;
    height: 80px;
    background-position: -100px -50px;
	float: left;
	border: #FFF solid 4px;
}
.foot_ewm p{
	float: left;
    line-height: 22px;
    padding: 20px 0 0 10px;
    color: #ccc;
}
.foot_report_arial{
	display:block;
	font-size:14px;
	margin-top:120px;
}
/**底部服务部分结束**/

/**左侧浮动导航开始**/
.nav_left{
	position: fixed;
	left: 50%;
    margin-left: -650px;
    font-size: 12px;
    color: #999;
}
.nav_left_nav{
	width:36px;
}
.nav_left_nav ul{
	list-style-type:none;
}
.nav_left_nav li{
	width: 24px;
    height: 34px;
    padding: 0 6px;
    line-height: 34px;
    text-align: center;
    cursor: pointer;
}
.nav_left_nav li h3{
	border-bottom: 1px solid #eee;
    font-weight: normal;
	font-size:12px;
}
.nav_left_nav li:hover{
	background:#FF4499;
	color:#FFF;
}
.nav_left_nav li.active{
	background:#FF4499;
	color:#FFF;
}
/**左侧浮动导航结束**/

/**右侧导航栏开始**/
.global_sider{
	position: fixed;
	top: 0;
    bottom: 0;
    z-index: 70;
    width: 36px;
    background: #333;
    color: #fff;
    line-height: 12px;
    text-align: center;
	right:0;
	min-height:550px;
}
.global_sider_app{
	position: relative;
    cursor: pointer;
    padding-bottom: 57px;
	cursor:pointer;
}
.global_sider_app span{
	display:block;
}
.icon_flower{
	display:inline-block;
	width: 23px;
    height: 30px;
    margin-top: 5px;
	background:url(../images/main_images/header_icon.png) no-repeat -69px -132px;
	overflow:hidden;
}
.icon_global_app{
	display:inline-block;
	width: 12px;
    height: 20px;
    cursor: pointer;
	background:url(../images/main_images/header_icon.png) no-repeat -101px -135px;
	overflow:hidden;
}
.global_apphiden{
	display:none;
    position: absolute;
    top: 0;
    right: 36px;
    width: 93px;
    padding: 7px 0;
    border: 1px solid #ddd;
    background: #fff;
    text-align: center;
    line-height: 0;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.global_sider_now{
	position: absolute;
    right: -10px;
    top: 50px;
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
    border: 5px solid transparent;
    border-left-color: #fff;
}
.global_sider_app:hover .global_apphiden{
	display:block;
}

/**侧边栏登陆**/
.global_sider_login{
	position: relative;
    padding: 10px 0;
    line-height: 14px;
    border-top: 1px solid #414141;
    cursor: pointer;
}
.global_sider_login:hover{
	background:#DD3377;
}
.icon_global_use{
	display:inline-block;
	overflow:hidden;
	width: 14px;
    height: 16px;
	background:url(../images/main_images/header_icon.png) no-repeat -40px -35px;
}
.global_sider_login a{
	text-decoration:none;
}
.global_sider_login span{
	display:block;
	width: 14px;
    margin: 5px auto;
	color:#FFF;
}
.global_sider_reg{
	color:#FFF;
	display: block;
    border-bottom: 1px solid #414141;
	position: relative;
    padding: 10px 0;
    line-height: 14px;
    border-top: 1px solid #414141;
    cursor: pointer;
}
.global_sider_reg:hover{
	background:#DD3377;
}
.global_sider_reg span{
	display: block;
    width: 14px;
    margin: 0 auto;
}
.global_sider_reg .global_ad_reg{
	display:none;
	background:url(../images/main_images/ad-register.png) no-repeat;
	background-color: #fff;
    border: 1px solid #ddd;
    height: 186px;
    position: absolute;
    right: 36px;
    top: -1px;
    width: 85px !important;
    text-align: center;
    line-height: 0;
}
.global_sider_reg .global_reg_arr{
	top:30px;
	right:-24px;
}
.global_sider_reg:hover .global_ad_reg{
	display:block;
}
/**侧边栏底部**/
.global_sider_bottom{
	position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
}
.global_sider_bottom a{
	padding: 8px 0;
    margin-top: 5px;
    display: block;
	color:#FFF;
}
.global_sider_inve{
	background: #e38;
	cursor:pointer;
}
.icon_inve{
	background:url(../images/main_images/header_icon.png) no-repeat -173px -136px;
	width: 19px;
    height: 22px;
	display:inline-block;
	overflow:hidden;
	margin-top:5px;
}
.global_sider_bottom em{
	margin-top: 2px;
    line-height: 14px;
	display:block;
	font-size:400;
	font-weight:normal;
	font-style:normal;
	padding-bottom:5px;
}
.global_sider_fanku{
	padding: 8px 0;
    margin-top: 5px;
    display: block;
}
.icon_fanku{
	background:url(../images/main_images/header_icon.png) no-repeat -43px -134px;
	width: 20px;
    height: 20px;
	display:inline-block;
	overflow:hidden;
}
.global_sider_gotop{
	margin-top: 5px;
    padding: 5px 0;
    display: block;
    font-family: "Arial";
    cursor: pointer;
}
.icon_sider_gotop{
	width: 17px;
    height: 7px;
    background-position: -22px -152px;
	background:url(../images/main_images/header_icon.png) no-repeat -22px -152px;
	display:inline-block;
	overflow:hidden;
}
.global_close_sider{
	display: block;
    padding-top: 12px;
    margin-top: 5px;
    height: 24px;
    cursor: pointer;
}
.global_close_sider:hover{
	background:#DD3377;	
}
.global_close_sider:hover .icon_sider_close{
	transform:rotateZ(360deg);
	-webkit-transform:rotateZ(180deg);
}
.icon_sider_close{
	display:inline-block;
	width: 12px;
    height: 13px;
    background-position: -151px -139px;
    transition: transform 500ms ease;
	background:url(../images/main_images/header_icon.png) no-repeat -151px -139px;
	overflow:hidden;
	transition:800ms;
}
.global_open_sider{
	position: absolute;
    bottom: 0px;
    left: 80px;
    width: 73px;
    height: 80px;
    display: block;
    z-index: 0;
	background:url(../images/main_images/header_icon.png) no-repeat -3px -179px;
    cursor: pointer;
	overflow:hidden;
}
/**右侧导航栏结束**/












