@charset "utf-8";
/* CSS Document */
*{
	margin:0;
	padding:0;
}
.container{
	width:1050px;
	height:200px;
	margin:100px auto;
}
.img_list{width:1200px;heigth:200px; list-style-type:none;}
.img_list li{
	animation-timing-function:linear;
	
}
.container ul li{
	float:left;
}
.a_container{
	display:block;
	position:relative;
	height:200px;
	width:200px;
	border:1px solid #6F9;
	overflow:hidden;
}
.a_container img{
	width:150px;
	height:150px;
	position:absolute;
	bottom:1px;
	right:-8px;
	z-index:5;
}
.a_container div{
	position:absolute;
	top:0;
	left:0;
	z-index:6;
	font-size:12px;
}
.mask{
	width:200px;
	height:200px;
	background:RGBA(0,0,0,0.1);
}
/**********************************************************滑动变大后的效果*************/
li.big img{
	width:190px;
	height:190px;
	position:absolute;
	bottom:1px;
	right:0px;
}
li.big .a_container{
	width:250px;
	height:200px;
}
li.big .mask{
	background:#FFF;
	z-index:0;
}
li.big span, li.big p{
	color:red;
	font-size:16px;
	font-weight:600;
	font-style:italic;
}

